*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-div{
    position: relative;
    top: 10vh;
}

h1{
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 40vw;
}

.container{
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    width: 50vw;
    height: auto;
    position: relative;
    top: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 1vw;
}

input, button, select, label{
    width: 80%;
    padding: .5rem;
    margin: 1vh 2.5vw;
}

@media (max-width: 1000px){
    .container{
        width: 90%;
    }
    
    button{
        padding: .5rem;
        border-radius: 15px;
    }
}